@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap");
.Heading {
  position: absolute;
  right: 47%;
  text-decoration: overline underline 5px;
  text-underline-offset: 19px;
  font-family: "Baloo Paaji 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

img {
  width: 200px;
  height: 200px;
}

.case {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 27%;
  left: 8%;
}

.case2 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 27%;
  left: 26%;
}

.case3 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 27%;
  left: 44%;
}

.case4 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 27%;
  left: 62%;
}

.case5 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 27%;
  left: 80%;
}

.case6 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 77%;
  left: 8%;
}

.case7 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 77%;
  left: 26%;
}

.case8 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 77%;
  left: 44%;
}

.case9 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 77%;
  left: 62%;
}

.case10 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 77%;
  left: 80%;
}

.case11 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 127%;
  left: 8%;
}

.case12 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 127%;
  left: 26%;
}

.case13 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 127%;
  left: 44%;
}

.case14 {
  width: 200px;
  height: 250px;
  border-style: solid;
  position: absolute;
  top: 127%;
  left: 62%;
}

h3 {
  font-family: "Baloo Paaji 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  color: black;
  display: flex;
  justify-content: end;
}

.decor {
  position: absolute;
  top: 23%;
  right: 3.8%;
  width: 1200px;
  height: 900px;
  border-style: dotted;
}

@media only screen and (max-width: 768px) {
  .Heading {
    position: relative;
    text-align: center;
    right: 0;
  }

  .case {
    position: absolute;
    top: 15%;
    left: 32%;
    height: auto;
  }

  .case2 {
    position: absolute;
    top: 50%;
    left: 32%;
    height: auto;
  }

  .case3 {
    position: absolute;
    top: 90%;
    left: 32%;
    height: auto;
  }

  .case4 {
    position: absolute;
    top: 130%;
    left: 32%;
    height: auto;
  }

  .case5 {
    position: absolute;
    top: 170%;
    left: 32%;
    height: auto;
  }

  .case6 {
    position: absolute;
    top: 210%;
    left: 32%;
    height: auto;
  }

  .case7 {
    position: absolute;
    top: 250%;
    left: 32%;
    height: auto;
  }

  .case8 {
    position: absolute;
    top: 290%;
    left: 32%;
    height: auto;
  }

  .case9 {
    position: absolute;
    top: 330%;
    left: 32%;
    height: auto;
  }

  .case10 {
    position: absolute;
    top: 370%;
    left: 32%;
    height: auto;
  }

  .case11 {
    position: absolute;
    top: 410%;
    left: 32%;
    height: auto;
  }

  .case12 {
    position: absolute;
    top: 450%;
    left: 32%;
    height: auto;
  }

  .case13 {
    position: absolute;
    top: 490%;
    left: 32%;
    height: auto;
  }

  .case14 {
    position: absolute;
    top: 530%;
    left: 32%;
    height: auto;
  }

  .decor {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: blueviolet;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6cece;
}
